*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#ffffff
}

/* definir as variáveis globais */

:root{
 --corNavegacao: #1E1F22;
 --corBotaoTitulos: #FFAE00;
 --corCards: rgba(37, 37, 37, 0.8);
 --corTextos: #ffffff;
}

body{
    background-image: url(imagens/bg.png);
}

header{
    background-color: var(--corNavegacao);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

a{
    text-decoration: none;
    color: var(--corTextos);
    font-size: 20px;
    margin: 10px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.boxProduto{
    background-color: var(--corCards);
    display: flex;
    /* flex-wrap: wrap; */
    width: 890px;
    align-items: center;
    border-radius: 20px;
}

.boxTexto{
    width: 400px;
}

h1, h2, h3, p, button{
    margin: 15px;
}

h1{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: var(--corBotaoTitulos);
    text-transform: uppercase;
}

.logo{
    width: 250px;
}

.boxImagem{
    width: 400px;
}

button{
    background-color: var(--corBotaoTitulos);
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 10px;
}